/* Global Styles */
* {
  font-family: sans-serif;
}

header {
  height: 130px;
  background-color: lightgrey;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
}

header h1, h2 {
  font-weight: normal;
  color: grey;
  padding: 2px;
  margin: 0;
}

nav {
  width: 100%;
  text-align: center;
}

ul {
  list-style: none;
  display: block;
  position: relative;
  text-align: center;
}

li {
  list-style: none;
  display: inline;
  background-color: grey;
  padding: 3px;
  font-size: 1.5em;
  opacity: 0.7;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

li:hover {
  background-color: #999999;
}

main p {
  text-align: center;
}
footer {
  background-color: lightgrey;
  height: 40px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
footer p {
  font-size: 15px;
}



/* Concentration Styles */
button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 15px;
  padding: 5px 20px;
  margin-bottom: 5px;
}


td {
  background-color: #008CBA;
}

table {
  padding: 10px;



}

table {
  margin: auto;
  height: auto;
  width: auto;


}

td {
  height: 63px;
  width: 63px;
  background-color: #008CBA;
  padding: 0;
}


img {

  height: 100%;
  width: 100%;
  margin: 0;
  margin-bottom: -5px;
  padding: 0;
  opacity: 0;

}

img:hover {
  cursor: pointer;
}


.container {
  width: 100%;
  opacity: 1;
  justify-content: center;
  position: absolute;
  bottom: 35px;
  left: 10px;
  text-align: center;
  display: inline-block;
  width: 100%;
}

#start {
  text-align: center;
  display: inline-block;
  background-color: lightgrey;
}

#timer {
  text-align: center;
  display: inline-block;
  background-color: lightgrey;

}
