h1, h2, h3, button, p{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
}

footer {
  font-size: 15px;
  position: absolute;
  bottom: 0;
  text-align: center;
  min-width: 100%;
}

.container {
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */

}

.die1 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;


}

.die2 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
